<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Python developer / Проект HH API / Главная страница" name="description">
    <meta content="Александр Николаев" name="author">
    <title>Поиск вакансий / Python developer / Проект HH API</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Проект HH.RU API</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link" href="/queryform/">Поиск вакансий</a>
                <a class="nav-link" href="/result/">Результаты поиска</a>
                <a class="nav-link active" href="/contacts/">Контакты</a>
            </nav>
        </div>
    </header>

    <main class="inner cover bg-image" role="main">
        <div class="py-5 text-left">
            <h1 class="cover-heading maintext">Контакты</h1>
            <hr class="mb-4">
            <p class="lead maintext">Адрес: Россия, 121609, Москва, Осенний бульвар, д.23, 11-й этаж, офис XXXX</p>
            <p class="lead maintext">Телефон: 8-800-800-8080</p>
            <p class="lead maintext">E-mail: info@company.ru</p>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>@2020 Python Developer / Александр Николаев (aka @AlexNika)</p>
        </div>
    </footer>
</div>
</body>
</html>