<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Python developer / Проект HH API / Главная страница" name="description">
    <meta content="Александр Николаев" name="author">
    <title>Главная страница / Python developer / Проект HH API</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Проект HH.RU API</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Главная</a>
                <a class="nav-link" href="/queryform/">Поиск вакансий</a>
                <a class="nav-link" href="/result/">Результаты поиска</a>
                <a class="nav-link" href="/contacts/">Контакты</a>
            </nav>
        </div>
    </header>

    <main class="inner cover" role="main">
        <h1 class="cover-heading">Поиск вакансий на HH.RU</h1>
        <p class="lead">Система находит наиболее актуальные навыки для какой-либо вакансии на сайте HeadHunter,
            используя API.</p>
        <hr class="mb-4">
        <p class="lead">
            <a class="btn btn-lg btn-secondary"
               href="https://neuraluniversity.getcourse.ru/teach/control/lesson/view/id/114453581"
               target="_blank">Задание</a>
            <a class="btn btn-lg btn-secondary" href="https://github.com/AlexNika/PythonDeveloper-API/pull/2" target="_blank">Код
                проекта на Github</a>
            <a class="btn btn-lg btn-secondary" href="https://github.com/hhru/api" target="_blank">HeadHunter API</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>@2020 Python Developer / Александр Николаев (aka @AlexNika)</p>
        </div>
    </footer>
</div>
</body>
</html>