<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="Python developer / Проект HH API / Главная страница" name="description">
    <meta content="Александр Николаев" name="author">
    <title>Поиск вакансий / Python developer / Проект HH API</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/cover.css" rel="stylesheet">
    <link href="/static/css/form-validation.css" rel="stylesheet">
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Проект HH.RU API</h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link" href="/">Главная</a>
                <a class="nav-link active" href="/queryform/">Поиск вакансий</a>
                <a class="nav-link" href="/result/">Результаты поиска</a>
                <a class="nav-link" href="/contacts/">Контакты</a>
            </nav>
        </div>
    </header>

    <main class="inner cover" role="main">
        <div class="py-5 text-left">
            <h2 class="mb-3">Поиск вакансии</h2>
            <ol class="lead1">В полях ниже введите критерии поиска вакансии:
                <li class="lead1">Название вакансии (чем точнее вы укажите название вакансии, тем качественнее будут
                    результаты поиска)
                </li>
                <li class="lead1">Страна/Область/Город</li>
            </ol>
            <hr class="mb-4">
            <form method="post">
                <fieldset class="mb-3 text-left">
                    <legend>Выберите сайт(ы) для поиска ключевых навыков по вакансии</legend>
                    <div>
                        <input type="checkbox" id="hhru" name="hhru" checked>
                        <label for="hhru">HEADHUNTER</label>
                    </div>
                    <div>
                        <input type="checkbox" id="sjru" name="sjru">
                        <label for="sjru">SUPERJOB</label>
                    </div>
                </fieldset>
                <div class="mb-3 text-left">
                    <input type="text" class="form-control" id="vacancy_name"
                           name="vacancy_name" placeholder="Python developer">
                    <label for="vacancy_name">Наименование вакансии <span
                            class="text-muted">(По умолчанию 'Python developer')</span></label>
                    <div class="invalid-feedback">
                        Пожалуйста введите правильную вакансию.
                    </div>
                </div>
                <div class="mb-3 text-left">
                    <input type="text" class="form-control" id="area_name"
                           name="area_name" placeholder="Москва">
                    <label for="area_name">Страна/Область/Город <span
                            class="text-muted">(По умолчанию 'Москва')</span></label>
                    <div class="invalid-feedback">
                        Пожалуйста введите правильное местоположение.
                    </div>
                </div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Искать вакансии</button>
            </form>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>@2020 Python Developer / Александр Николаев (aka @AlexNika)</p>
        </div>
    </footer>
</div>
</body>
</html>